extends baseEmail

block content
  p Hi #{firstName},
    p Your restaurant account has now been verified. You can now starts processing order through OrdaWays a new way to place order in restaurants.

    p - OrdaWays Team
